.home-template {
    padding:0;
    margin:0;
}
.site-head-content {
    padding:0;
    margin:0;
}
.site-head {
    width:100%;
    position:absolute;
    top:50%;
    margin-top: -222px;
}
.vertical {
    width: 900px;
    margin: auto;
}
@media only screen and (max-width: 800px)  {
    .vertical { 
      width:100%;
    }
}
