---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Window from "../components/Window.astro";
---

<Layout>
    <Nav />
    <Window title="talks.exe">
        <h3>Talks, musings, blah blahs</h3>
        <p>Occasionally people ask me to talk in front of them with visuals.</p>
    </Window>
    <Window title="">
        <h4>Betterment's #BetterDev - A Brief History of the Internet</h4>
        <p>
            There's a
            <a
                target="_blank"
                href="https://www.youtube.com/watch?v=IThL1-OsvuQ&t=838s"
                >Video</a
            >
            of this talk as well!
        </p>
        <a target="_blank" href="/talks/history_of_the_internet.pdf"
            ><img
                class="full"
                src="/talks/history_of_the_internet.png"
                alt="A Brief History of the Internet PDF"
            /></a
        >
    </Window>
    <Window title="">
        <h4>Hack &amp;&amp; Tell</h4>
        <p>
            I
            <a
                target="_blank"
                href="https://github.com/hackandtell/wrapup/blob/master/nyc/round-38-wrapup.md#chris-becker---is-my-train-fucked"
                >presented</a
            >
            at
            <a target="_blank" href="https://www.meetup.com/hack-and-tell/"
                >Hack &amp;&amp; Tell</a
            >, one of my favorite meetups, about my tiny app
            <a target="_blank" href="http://ismytrainfucked.com"
                >IsMyTrainFucked</a
            >
        </p>
        <a target="_blank" href="/talks/is_my_train_fucked.pdf"
            ><img
                class="full"
                src="/talks/is_my_train_fucked.png"
                alt="Is My Train Fucked PDF"
            /></a
        >
    </Window>
    <Window title="">
        <h4>Amazon Alexa Meetup - The Dishwasher App</h4>
        <a target="_blank" href="/talks/dishwasher_alexa_meetup.pdf"
            ><img
                class="full"
                src="/talks/dishwasher_alexa_meetup.png"
                alt="The Dishwasher App PDF"
            /></a
        >
    </Window>
    <Window title="">
        <h4>Warby Parker Lightning Talk - Decision Fatigue</h4>
        <a target="_blank" href="/talks/decision_fatigue.pdf"
            ><img
                class="full"
                src="/talks/decision_fatigue.png"
                alt="Decision Fatigue PDF"
            /></a
        >
    </Window>
    <Window title="">
        <h4>Warby Parker Lightning Talk - The Terminal &amp;&amp; You</h4>
        <a target="_blank" href="https://www.youtube.com/watch?v=JJoFlTDEaV0"
            ><img
                class="full"
                src="/talks/theterminalandyou.png"
                alt="The Terminal and You, on YouTube"
            /></a
        >
    </Window>
</Layout>
