---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Window from "../components/Window.astro";

import { Image } from "astro:assets";
import ismytrainfucked from "../assets/projects/ismytrainfucked.png";
import rabbitsay from "../assets/projects/rabbitsay.png";
import dishes from "../assets/projects/dishes.png";
import controlc from "../assets/projects/controlc.png";
---

<Layout>
    <Nav />
    <Window title="stuff.exe">
        <h3>Projects, stuff, etc.</h3>
        <p>Given enough time and coffee, software appears.</p>
    </Window>
    <Window title="ismytrainfucked.exe">
        <h4>Is My Train Fucked</h4>
        <p>
            <a href="http://ismytrainfucked.com">ismytrainfucked.com</a>
            <br />
            Python, Lambda, S3
        </p>
        <Image src={ismytrainfucked} alt="" />
    </Window>
    <Window title="rabbitsay.exe">
        <p>
            <a href="http://www.rabbitsay.wtf/">rabbitsay.wtf</a>
            <br />
            Python
        </p>
        <Image src={rabbitsay} alt="" />
    </Window>
        <Window title="the_dishwasher.exe">
            <h4>The Dishwasher</h4>
            <p>
                <a href="http://www.dishes.io">dishes.io</a>
                <br />
                Python, AWS Alexa
            </p>
            <Image src={dishes} alt="" />
        </Window>
        <Window title="control-c.exe">
            <h4>ControlC.fm</h4>
            <p>
                <a href="http://www.controlc.fm">controlc.fm</a>
                <br />
                Logic Pro X
            </p>
            <Image src={controlc} alt="" />
        </Window>
    </Window>
</Layout>
