{% extends "base.html" %}

{% block body %}
<h1>Chris Becker</h1>
<img src="{% static 'img/me.jpg' %}" />
<p>Hey There—</p>
<p>I’m currently an SRE at Betterment.</p>

<p>After finishing my undergraduate degree at Syracuse University in 2013 I
moved to New York City to start my career in technology. Currently I’m a member
of a small that manages the development infrastructure, cloud
instances, and dev tooling at Betterment.</p>

<p>In my personal time, I like to take photos, build silly and profane apps,
and give talks at local meetups.</p>

<p>I enjoy working on passionate teams and breathing life into wacky ideas. I
love to combine technical and creative minds to see what can be built.</p>
{% endblock %}
