{% extends "base.html" %}

{% block body %}
<h1>Talks, musings, blah blahs.</h1>

<p>Occasionally people ask me to talk in frot of them with visuals.</p>

<ul>
    <li>
        <h4></h4>
        <p>
            <a href=""></a>
            <br>
        </p>
        <img src="{% static '/static/talks/' %}" alt="" />
    </li>
    <hr>
    <li>
        <h4></h4>
        <p>
            <a href=""></a>
            <br>
        </p>
        <img src="{% static '/static/talks/' %}" alt="" />
    </li>
    <hr>
    <li>
        <h4></h4>
        <p>
            <a href=""></a>
            <br>
        </p>
        <img src="{% static '/static/talks/' %}" alt="" />
    </li>
    <hr>
    <li>
        <h4></h4>
        <p>
            <a href=""></a>
            <br>
        </p>
        <img src="{% static '/static/talks/' %}" alt="" />
    </li>
    <hr>
    <li>
        <h4></h4>
        <p>
            <a href=""></a>
            <br>
        </p>
        <img src="{% static '/static/talks/' %}" alt="" />
    </li>
    <hr>
    <li>
        <h4></h4>
        <p>
            <a href=""></a>
            <br>
        </p>
        <img src="{% static '/static/talks/' %}" alt="" />
    </li>
    <hr>
</ul>
{% endblock %}
