{% extends "base.html" %}

{% block body %}
<img class="homepage" src="{% static '/static/img/mebw.jpg' %}" alt="it me" />
<h1>Chris Becker</h1>
<p class="homepage">🖥 SRE at Betterment</p>
<p class="homepage">📸 Photographer</p>
<p class="homepage">🚲 Bikes, mopeds, cycling</p>
<p class="homepage">🌱 Indoor plant enthusiast</p>
<p class="homepage">📍 PHL/NYC</p>
<ul>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/photos">Photography</a></li>
    <li><a href="/stuff">Projects</a></li>
    <li><a href="/blabbing">Talks</a></li>
    <li><a href="mailto:chris@becker.am">Email Me</a></li>
</ul>
{% endblock %}
