{% extends "base.html" %}

{% block body %}
<h1>Photos</h1>

<p>For my 25th year alive on this planet, I worked on a
    <a href="https://365.becker.am">365 project</a> entirely on film.</p>

<ul>
    <li><img src="{% static '/static/img/42740014.jpg' %}" alt="Adam and Jesse at Red Rock Canyon" /></li>
    <li><img src="{% static '/static/img/31710024.jpg' %}" alt="Gavin in San Juan del Sur" /></li>
    <li><img src="{% static '/static/img/MG_6238.jpg' %}" alt="Sam" /></li>
    <li><img src="{% static '/static/img/MG_6372-1.jpg' %}" alt="Syracuse University" /></li>
    <li><img src="{% static '/static/img/MG_5236.jpg' %}" alt="Fixie" /></li>
    <li><img src="{% static '/static/img/MG_6712.jpg' %}" alt="Ithaca" /></li>
</ul>
{% endblock %}
