{% extends "base.html" %}

{% block body %}
<h1>Projects, stuff, etc.</h1>

<p>Given enough time and coffee, software appears.</p>

<ul>
    <li>
        <h4>Is My Train Fucked</h4>
        <p>
            <a href="http://ismytrainfucked.com">ismytrainfucked.com</a>
            <br>
            Python, Lambda, S3
        </p>
        <img src="{% static '/static/stuff/ismytrainfucked.png' %}" alt="IsMyTrainFucked.com" />
    </li>
    <hr>
    <li>
        <h4>RabbitSay</h4>
        <p>
            <a href="http://www.rabbitsay.wtf/">rabbitsay.wtf</a>
            <br>
            <p>Python</p>
            <img src="{% static '/static/stuff/rabbitsay.png' %}" alt="Github/Cbeck527/rabbitsay" />
        </p>
    </li>
    <hr>
    <li>
        <h4>The Dishwasher</h4>
        <p>
            <a href="http://www.dishes.io">dishes.io</a>
            <br>
            <p>Python, AWS Alexa</p>
            <img src="{% static '/static/stuff/dishes.png' %}" alt="Dishes.io" />
        </p>
    </li>
    <hr>
    <li>
        <h4>ControlC.fm</h4>
        <p>
            <a href="http://www.controlc.fm">controlc.fm</a>
            <p>Logic Pro X</p>
            <img src="{% static '/static/stuff/controlc.png' %}" alt="ControlC.fm" /></li>
        </p>
</ul>
{% endblock %}
